* {
    font-family: "Chiron GoRound TC", sans-serif;
    
}
header {
    background: #333;
    color: #fff;
    padding: 60px 20px;
    text-align: center;
    border-radius: 10px;
    font-size: 150%;
}
section {
    margin: 40px 0;
}
.textlist {
    margin-left: 10%;
    margin-right: 10%;
}
footer {
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    background: #eee;
    color: #555;
}